# Name:    PyHouse-ansible/roles/networking/tasks/main.yaml
# Author:  D. Brian Kimmel
# Created: 2017-10-15
# Updated: 2018-07-26
#
# Set up all networking

# This should not be routinely run.  Errors can cause loss of connectivity necessitating a trip to the site.

---

- name:             NetworkingMain Task-00 - Starting, Display some vars...
  debug:
    msg:
      - "User:  {{ pyh_admin_user }}"
      - "Dist:  {{ ansible_os_family }}"
      - "Host:  {{ pyh_hostname }}"
      - "Role:  {{ pyh_roles }}"
      - "A-P:   {{ pyh_access_points }}"
      - "A-P:   {{ vault_pyh_access_points }}"
  tags:
    - always

- name:             NetworkingMain Task-01-A-Pi - Install WiFi
  ignore_errors:    yes
  include_tasks:    install-wifi.yaml
  tags:             always
 
- name:             NetworkingMain Task-01-B-Pi - Install ethernet
  ignore_errors:    yes
  include_tasks:    install-ethernet.yaml
  tags:             always
 
- name:             TNetworkingMain ask-01-C-Pi - Install IPv6 Tunnels
  ignore_errors:    yes
  include_tasks:    install-v6-tunnel.yaml
  when:             pyh_roles.find("ipv6tunnel") != -1 

- name:             NetworkingMain Task-02-Pi - Add ntpdate to raspbian
  ignore_errors:    yes
  apt: 
    name:           ntpdate
    state:          present
  when:             ansible_lsb.id == 'Raspbian'

### END DBK
