# Name:    PyHouse-ansible/roles/pyhouse/tasks/main.yaml
# Author:  D. Brian Kimmel
# Created: 2017-09-18
# Updated: 2017-09-22
#
# This  is to add/maintain the pyhouse system on a node computer such as a raspberry pi.

---

- name: PyHouse-task-01 - Create PyHouse user
  user:
    name:    "pyhouse"
    comment: "PyHouse User"
    groups:  dialout,audio,video,input

- name: PyHouse-task-02 - pyhouse tasks Update apt cache
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: PyHouse-task-03 - Create Directory
  file:
    name:  "/etc/pyhouse"
    state: directory
    owner: pyhouse
    group: pyhouse
    mode:  0755

- name: PyHouse-task-04 - Create Directory
  file:
    name:  "/var/log/pyhouse"
    state: directory
    owner: pyhouse
    group: pyhouse
    mode:  0755

- name: PyHouse-task-05 - Create Directory
  file:
    name:  "/home/pyhouse/workspace"
    state: directory
    owner: pyhouse
    group: pyhouse
    mode:  0755

- name: PyHouse-task-06 - Create Directory
  file:
    name:  "/home/pyhouse/bin"
    state: directory
    owner: pyhouse
    group: pyhouse
    mode:  0755

- name: PyHouse-task-07 - Copy files
  copy:
    src:   "./bin/"
    dest:  "/home/pyhouse/bin"
    owner: pyhouse
    group: pyhouse
    mode:  0755

- name: PyHouse-task-08 - Clone the PyHouse package
  git:
    repo:            https://git@github.com/DBrianKimmel/PyHouse.git
    dest:            /home/pyhouse/workspace/PyHouse
    accept_hostkey:  true
  when:              hostvars[inventory_hostname].vars.pyh_roles | search("PyHouse")


### END DBK
