# Name:    PyHouse-ansible/roles/pyhouse/tasks/main.yaml
# Author:  D. Brian Kimmel
# Created: 2017-09-18
# Updated: 2017-09-22
#
# This  is to add/maintain the pyhouse system on a node computer such as a raspberry pi.

---

- name: PyHouse-task-01 - Create PyHouse user
  user:
    name:    "pyhouse"
    comment: "PyHouse User"
    groups:  dialout,audio,video,input

- name: PyHouse-task-02 - pyhouse tasks Update apt cache
  apt: update_cache=yes

- name: PyHouse-task-03 - Create Directory
  file:
    name:  "/etc/pyhouse"
    state: directory
    owner: pyhouse
    group: pyhouse
    mode:  0755

- name: PyHouse-task-04 - Create Directory
  file:
    name:  "/var/log/pyhouse"
    state: directory
    owner: pyhouse
    group: pyhouse
    mode:  0755

- name: PyHouse-task-05 - Create Directory
  file:
    name:  "/home/pyhouse/workspace"
    state: directory
    owner: pyhouse
    group: pyhouse
    mode:  0755

- name: PyHouse-task-06 - Create Directory
  file:
    name:  "/home/pyhouse/bin"
    state: directory
    owner: pyhouse
    group: pyhouse
    mode:  0755

- name: PyHouse-task-07 - Copy files
  copy:
    src:  "./bin/"
    dst:  "/home/pyhouse/bin/"
    owner: pyhouse
    group: pyhouse
    mode:  0755


#    - name: PyHouse-task-05 - Clone the PyHouse package
#      command: ls

#    - name: next step
#      command: ls

### END DBK
