# Name:    PyHouse-ansible/roles/networking/templates/dhcpcd_conf.j2
# Author:  D. Brian Kimmel
# Created: 2017-10-15
# Updated: 2018-07-26
#
# Used by:
#		Debian 9 - Stretch (Raspberry Pi)
#		Debian 8 - Jessie (Raspberry Pi)
#

## Inform the DHCP server of our hostname for DDNS.
hostname
## Use the hardware address of the interface for the Client ID.
clientid
## Persist interface configuration when dhcpcd exits.
persistent
## Rapid commit support - Safe to enable by default because it requires the equivalent option set on the server to actually work.
option rapid_commit
## A list of options to request from the DHCP server.
option domain_name_servers, domain_name, domain_search, host_name classless_static_routes
## Most distributions have NTP support.
option ntp_servers
## A ServerID is required by RFC2131.
require dhcp_server_identifier
## Generate Stable Private IPv6 Addresses instead of hardware based ones
slaac private
## A hook script is provided to lookup the hostname if not set by the DHCP server, but it should not be run by default.
nohook lookup-hostname

### DBK Additions ###

{% for if_name in ansible_interfaces %}
{% if if_name != "lo" %}

interface {{ if_name }}
{% if if_name.startswith('e') %}
    static ip_address={{ pyh_ipv4_ethernet_addr }}/{{ pyh_ipv4_router_prefix_len }}
    static ip6_address={{ pyh_ipv6_network_prefix }}{{ pyh_ipv6_ethernet_addr }}{{ pyh_ipv6_network_prefix_len }}
{% endif %}
{% if if_name.startswith('w') %}
    static ip_address={{ pyh_ipv4_wifi_addr }}/{{ pyh_ipv4_router_prefix_len }}
    static ip6_address={{ pyh_ipv6_network_prefix }}{{ pyh_ipv6_wifi_addr }}{{ pyh_ipv6_network_prefix_len }}
{% endif %}
    static routers={{ pyh_ipv4_router_addr }}
    static domain_name_servers={{ pyh_router_nameservers }}
{% endif %}
{% endfor %}

### END DBK
