# Name:    PyHouse-ansible/roles/networking/templates/interfaces.j2
# Author:  D. Brian Kimmel
# Created: 2017-10-15
# Updated: 2018-04-06
#
# This file describes the network interfaces available on your system and how to activate them.
#
# Used by:
#		Ubuntu (on Nucs)

source /etc/network/interfaces.d/*

# The loopback network interface
auto lo
iface lo inet loopback

{% for if_name in ansible_interfaces %}
{% if if_name != "lo" and not if_name.startswith('sit') %}
#
auto {{ if_name }}
iface {{ if_name }} inet static
{% if if_name.startswith('e') %}
    ipaddress {{ XXXpyh_ipv4_ethernet_addr }}
    ip6address {{pyh_ipv6_network_prefix}}{{pyh_ipv6_eth_suffix}}{{pyh_ipv6_network_prefix_len}}
    netmask {{pyh_ipv4_router_netmask}}
    gateway {{pyh_ipv4_router_addr}}
{% endif %}
{% if if_name.startswith('w') %}
    address {{pyh_ipv4_wifi_addr}}
    netmask {{pyh_ipv4_router_netmask}}
    gateway {{pyh_ipv4_router_addr}}
{% endif %}
{% endif %}
{% endfor %}

dns-nameservers {{pyh_router_nameservers}}

### END DBK
