# Name:    PyHouse-ansible/roles/networking/templates/wifi.j2
# Author:  D. Brian Kimmel
# Created: 2017-09-18
# Updated: 2018-04-28

country=US
ctrl_interface=DIR=/var/run/wpa_supplicant GROUP=netdev
update_config=1

{% for key, value in vault_pyh_access_points.items() %}
network={
        ssid="{{ key }}"
        psk="{{ value  }}"
        key_mgmt=WPA-PSK
}
{% endfor %}

### END DBK
