# Name:    PyHouse-ansible/roles/node_red/templates/sudoers.j2
# Author:  D. Brian Kimmel
# Created: 2017-11-14
# Updated: 2017-11-14
# Template for sudoers.d entry
#
{{ pyh_nodered_user }} ALL=(ALL) NOPASSWD: ALL
#
### END DBK
