#!/bin/bash
#
# @name:      PyHouse-ansible/roles/install-octoprint/files/bin/stop-octoprint
# @author:    D. Brian Kimmel
# @copyright: (c) 2018-2021 by D. Brian Kimmel
# @license:   MIT License

echo "Stopping the OctoPrint system"
cd ~

### END DBK
