# Name:    PyHouse-ansible/ansible.cfg
# Author:  D. Brian Kimmel
# Created: 2017-09-18
# Updated: 2020-10-06
#
# Ansible playbook root file for configuring ansible.
#		/etc/ansible/ansible.cfg  - is overridden by:
#		~/Shared/Workspace/PyHouse-ansible/ansible.cfg

# Config the SSH section
[ssh_connection]
ssh_args = -F /home/briank/.ssh/ansible-ssh-config   -o ControlMaster=auto   -o ControlPersist=37m
control_path = /tmp/ansible-%%h
pipelining = True
retries = 3


[defaults]
interpreter_python = python3
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /var/ansible/cachedir
fact_caching_timeout = 86400
scp_if_ssh = True

inventory = inventories/hosts.yaml
roles_path = roles
playbook_path = playbooks

display_args_to_stdout = true
display_skipped_hosts = false
host_key_checking = false
retry_files_enabled = false

become_allow_same_user = true

### END DBK
