# Name:    PyHouse-ansible/playbook.yaml
# Author:  D. Brian Kimmel
# Created: 2017-11-19
# Updated: 2018-04-17
#
# This is the top level playbook for production computers.
# It is involed by the ansible-production command
# This playbook is a dispatcher.
#
# Loads other playbooks when calling tags are defined.
#
# Valid Tags:
#   setup_production
#   setup_development
#   setup-one-pi
#   setup_ansible
#
#   backup

---

- name: Playbook (Master)
  hosts:            all
  strategy:         linear
  gather_facts:     yes
  remote_user:      root
  become:           yes
  become_method:    sudo

  pre_tasks:

  - name: Start - Tags 1
    debug:
      msg:    "Tags are ansible_tags"

  tasks:

  - name: Set Tags
    set_fact:
      tag_production = False
      tag_development = False
      flag_new_pi = False
    vars:
      flag_ansible: "False"

  - name: Start - Tags 2
    debug:
      msg:    "Tags are ansible_tags"


# Production
  - name: Production - Update the production computers,
    set_fact: tag_production = True
    tags: setup_production

# Development
  - name: Development - Update the development computer(s),
    set_fact: tag_development = True
    tags: setup_development

# Set up a new Raspberry Pi
  - name: New - Setup a new raspberry Pi
    set_fact: flag_new_pi = True
    tags: setup_one_pi

# Install ansible on the admin machine.
  - name: Admin - Set up ansible on the ansible admin computers.
    set_fact: flag_ansible "True"
    tags: setup_ansible

  - name: Debug 1
    debug: msg="Flag Settings {{ ansible_local }}"


# Now define the plays

# Update the tools
#- import_playbook: "./playbooks/local-install-tools.yaml"
#  when: ansible_local.flag_ansible == "True"

# Now get the proper Production playbook(s)
#- import_playbook: "./playbooks/production-pis.yaml"
#  when:
#  - tag_production is defined

#- import_playbook: "./playbooks/production-nucs.yaml"
#  when:
#  - tag_production is defined

#- import_playbook: "./playbooks/production-others.yaml"
#  when:
#  - tag_production is defined


# Now get the proper Development playbook(s)
#- import_playbook: "./playbooks/development-pis.yaml"
#  when:
#  - tag_production is defined


# Now get the proper new server setup playbook(s)
- import_playbook: "./playbook-development.yaml"
  tags:     tag_development

# Now get the proper new server setup playbook(s)
- import_playbook: "./playbooks/new-pi.yaml"
  tags:     tag_new_pi

# Now get the proper localhost playbook(s)
- import_playbook: "./playbooks/fetch-config-files.yaml"
#  when:
#  - tag_production is defined
#  - tag_ansible is defined
  tags:     backup

### END DBK
