# Name:    PyHouse-ansible/playbook-development.yaml
# Author:  D. Brian Kimmel
# Created: 2017-12-15
# Updated: 2018-07-25
#
# This is the top level playbook for development computers.
# It is invoked by the ansible-development command.

---

- name:                 Playbook-Development
  strategy:             linear
  hosts:                all
  gather_facts:         yes

  pre_tasks:

  - name:               Play-Devel - PreTask-01 - List the pyh_role for each host
    debug:
      msg:              "Installing Development for {{ pyh_hostname }} - {{ pyh_roles }}"
    tags: always

- import_playbook:      "./playbooks/all-pis.yaml"
#- import_playbook:      "./playbooks/development-pis.yaml"
- import_playbook:      "./playbooks/roles-dispatch.yaml"
#- import_playbook:      "./playbooks/fetch-config-files.yaml"

### END DBK
