# Name:    PyHouse-ansible/playbook.yaml
# Author:  D. Brian Kimmel
# Created: 2017-11-19
# Updated: 2017-12-12


# export ANSIBLE_STRATEGY=debug



# This playbook is a dispatcher.
# Loads other playbooks when calling tags are defined.

# Valid Tags:
#   setup_production
#   setup_development
#   setup-one-pi
#   setup_ansible
---

- name: Playbook (Master)
  strategy:         debug
  hosts:            all
  gather_facts:     yes

  pre_tasks:

  - name: Start - Tags
    debug:
      msg:    "Tags are ansible_tags"


  tasks:

# Production
  - set_fact: tag_production = true
    tags: setup_production

# Development
  - set_fact: tag_development = True
    tags: setup_development

# Set up a new Raspberry Pi
  - set_fact: tag_new_pi = True
    tags: setup_one_pi

# Install ansible on the admin machine.
  - set_fact: tag_ansible = true
    tags: setup_ansible



# Now get the proper Produxtion playbook(s)
#- import_playbook: "./playbooks/production-pis.yaml"
#  when:
#  - tag_production is defined

#- import_playbook: "./playbooks/production-nucs.yaml"
#  when:
#  - tag_production is defined

#- import_playbook: "./playbooks/production-others.yaml"
#  when:
#  - tag_production is defined


# Now get the proper Development playbook(s)

- import_playbook: "./playbooks/development-pis.yaml"
#  when:
#  - tag_production is defined


# Now get the proper new server setup playbook(s)

#- import_playbook: "./playbooks/new-pi.yaml"
#  when:
#  - tag_new_pi is defined



# Now get the proper localhost playbook(s)

#- import_playbook: "./playbooks/fetch-config-files.yaml"
#  when:
#  - tag_production is defined
#  - tag_ansible is defined

#- import_playbook: "./playbooks/local-install-tools.yaml"
#  when:
#  - tag_ansible is defined


### END DBK
