# Name:    PyHouse-ansible/playbook-production.yaml
# Author:  D. Brian Kimmel
# Created: 2018-04-19
# Updated: 2018-07-27
#
# This is the top level playbook for production computers.
# It is invoked by the ansible-production command.

---

- name:                 Play 1 - Production
  strategy:             linear
  hosts:                all
  gather_facts:         yes

  pre_tasks:

  - name:               Play-Production - PreTask-01 - List the pyh_role for each host
    debug:
      msg:              "Running production ansible now."
    tags: always

- import_playbook:      "./playbooks/all-pis.yaml"
- import_playbook:      "./playbooks/production-pis.yaml"
- import_playbook:      "./playbooks/production-nucs.yaml"
- import_playbook:      "./playbooks/production-others.yaml"
- import_playbook:      "./playbooks/roles-dispatch.yaml"
- import_playbook:      "./playbooks/fetch-config-files.yaml"

### END DBK
