# Name:    PyHouse-ansible/playbook.yaml
# Author:  D. Brian Kimmel
# Created: 2017-11-19
# Updated: 2017-11-25

# Valid Tags:
#   aaa
#   bbb
---

- name: Playbook (Master)
  import_playbook:  playbooks/local-install-tools.yaml
  tags:
    - always

- import_playbook:  playbooks/gather-info.yaml
  tags:
    - production

- import_playbook:  playbooks/fetch-config-files.yaml
  tags:
    - production

- import_playbook:  playbooks/production-pis.yaml
  tags:
    - production


### END DBK
