# Name:    PyHouse-ansible/playbook-new-pi.yaml
# Author:  D. Brian Kimmel
# Created: 2018-04-23
# Updated: 2019-08-07
#
# This is the top level playbook for new raspberryt6 pi computers.
# It is involed by the ansible-new-pi command
# This playbook is a dispatcher.
#
# Loads other playbooks when calling tags are defined.
#
# Since the default raspbian image has user pi with a well kbown password,
#  this will ssh into that user at first,
#  add the admin user and change the well known password and then
#  switch to a playbook in the playbooks dir to continue as the root
#  installer used by all other playbooks.

---

- name: Playbook (NewPi)
  hosts: all
  strategy: linear
  gather_facts: true
  remote_user: pi
  become: true
  become_method: sudo


  pre_tasks:

    - name: New-Pi-pre-task-01 - Fail if Ansible is ancient
      fail:
        msg: "We need Ansible >= 2.7. Please update your installed ansible"
      when: >
            ansible_version.major < 2 or (
            ansible_version.major >= 2 and
            ansible_version.minor < 7 )
      tags:
        - always

    - name: New-Pi-pre-task-02 - Working on raspi
      debug:
        msg:
          - "Host:{{ pyh_hostname }};"
          - "WiFi:{{ pyh_ipv4_wifi_addr }};"
          # - "Ethernet:{{ pyh_ipv4_ethernet_addr }};"
          - "Access:{{ ansible_host }}"
      tags:
        - always


    - name: New-Pi-pre-task-03 - Include vars from local-configure.yaml
      include_vars: "{{ item }}"
      with_first_found:
        - files:
            - "local-configure.yaml"
            - "null.yaml"
          paths:
            - "./defaults/"
      tags:
        - always

- import_playbook: "./playbooks/new-pi.yaml"

### END DBK
