# Name:    PyHouse-ansible/playbook-development.yaml
# Author:  D. Brian Kimmel
# Created: 2017-12-15
# Updated: 2018-05-02
#
# This is the top level playbook for development computers.
# It is involed by the ansible-production command
# This playbook is a dispatcher.
#
# Loads other playbooks when calling tags are defined.
#
# Valid Tags:
#   setup_development






---

- name:             Playbook-Development
  strategy:         linear
  hosts:            all
  gather_facts:     yes

  pre_tasks:

  - name:           Task-01
    debug:
      msg: "Installing Development for {{ pyh_hostname }} - {{ pyh_roles }}"
    tags: always

# Development

- import_playbook: "./playbooks/development-pis.yaml"

#- import_playbook: "./playbooks/fetch-config-files.yaml"

### END DBK
