# Name:    ssh.cfg
# Author:  D. Brian Kimmel
# Created: 2017-09-18
# Updated: 2018-01-17
#
# Ansible config for a user on the ansible control computer.  This file is named in ansible.cfg in ssh_args.
#
# Installed on a yourlocal computer by:
#	ansible-ansible
#
#
# convienent forwarding:
#		ssh -L 8101:192.168.1.1:80 pinkpoppy        # browse to localhost:8101  # for asus router
#		ssh -L 8114:192.168.1.14:1880 pinkpoppy     # browse to localhost:8114  # for Node Red
#		ssh -L 8801:192.168.8.1:80 cannontrail      # browse to localhost:8801  # for westel router
#		ssh -L 8901:192.168.9.1:80 cannontrail      # browse to localhost:8981  # for asus router
#
# ================================================
# Define some simple aliases so we can ssh to the alias here.
Host pinkpoppy
   HostName  			pinkpoppy.asuscomm.com
   Port                 2254
   LocalForward         8101 192.168.1.1:80
   LocalForward         8114 192.168.1.14:1880

Host cannontrail
   HostName  			cannontrail.asuscomm.com
   Port                 2281
   LocalForward         8801 192.168.8.1:80
   LocalForward         8901 192.168.9.1:80

# Allow browser to go to pink poppy garage node red.
# Forward port 8114 on localhhost to pi-04-pp node red port 
Host pi-04-pp			pinkpoppy
   LocalForward         8114 192.168.1.14:1880

# ================================================
# Now for the networks.
# change the network if we are within that network so we don't try to proxy the local network.
Host 192.168.111.*
   User                 briank
   Port                 2254
   ProxyCommand         ssh -A -p 2254 briank@pinkpoppy.asuscomm.com     -W %h:22

Host 192.168.9.*
   User                	briank
   Port                 2210
   ProxyCommand         ssh -A -p 2210 briank@cannontrail.asuscomm.com   -W %h:22

Host 192.168.8.*
   User                	briank
   Port                 2281
   ProxyCommand         ssh -A -p 2281 briank@cannontrail.asuscomm.com   -W %h:22


# ================================================
# Now for some global settings.
Host *
  Compression   		no
  ControlMaster      	auto
  ControlPath          	~/.ssh/ansible-%h
  ControlPersist    	33m
  ForwardAgent  		yes
  ForwardX11    		yes
  LogLevel      		INFO

### END DBK
