# Name:    ssh.cfg
# Author:  D. Brian Kimmel
# Created: 2017-09-18
# Updated: 2017-09-18
#
# Ansible playbook root config file.  This file is named in ansible.cfg
#
# If the host we are going to is not on the local network, we must:
#	ssh into a jump host and from there:
#		ssh into the target host.
#

# Define some simple aliases so we can ssh to the alias here.
Host pinkpoppy
   HostName  pinkpoppy.asuscomm.com
Host cannontrail
   HostName  cannontrail.asuscomm.com


Host 192.168.1.*
   User            briank
   ProxyCommand    ssh -p 2210 briank@pinkpoppy.asuscomm.com     -W %h:22

Host 192.168.9.*
   User            briank
   ProxyCommand    ssh -p 2210 briank@cannontrail.asuscomm.com   -W %h:22

Host *
  ControlMaster    auto
  ControlPath      ~/.ssh/ansible-%h
  ControlPersist   33m

### END DBK
