# Name:    ssh.cfg
# Author:  D. Brian Kimmel
# Created: 2017-09-18
# Updated: 2017-10-25
#
# Ansible config for a user on the ansible control computer.  This file is named in ansible.cfg in ssh_args.
#
# If the host to which we are going is not on the local network we must:
#	ssh into a jump host and from there:
#		ssh into the target host.
#



# Are we in Florida(House=1), Franklin (House=2) or remote (House=0)?
#ping -q -c1 192.168.1.1 >/dev/null
#STATUS_P=$( echo $? )
#ping -q -c1 192.168.9.1 >/dev/null
#STATUS_C=$( echo $? )
#if [[ $STATUS_P == 0 ]] ; then
#	HOUSE=1
#	echo "We are at Pink Poppy (Local)"
#elif [[ $STATUS_C == 0 ]] ; then
#	HOUSE=2
#	echo "We are at Cannon Trail (Local)"
#else
#	HOUSE=0
#	echo "We are away from Both houses - REMOTE!"
#fi




# ================================================
# Define some simple aliases so we can ssh to the alias here.
Host pinkpoppy
   HostName  pinkpoppy.asuscomm.com
Host cannontrail
   HostName  cannontrail.asuscomm.com


# ================================================
# Now for the networks.
# change the network if we are within that network so we don't try to proxy the local network.
#Host 192.168.1.*
#   User            briank
#   ProxyCommand    ssh -AXC -p 2254 briank@pinkpoppy.asuscomm.com     -W %h:22

Host 192.168.9.*
   User            briank
   ProxyCommand    ssh -p 2210 briank@cannontrail.asuscomm.com   -W %h:22

# ================================================
# Now for some global settings.
Host *
  ControlMaster    auto
  ControlPath      ~/.ssh/ansible-%h
  ControlPersist   33m

### END DBK
