# Name:    PyHouse-ansible/inventories/host_vars/cannontrail/pi-02-ct.yaml
# Author:  D. Brian Kimmel
# Created: 2017-09-29
# Updated: 2020-10-09
---

log_track: inventories/host_vars/pi-02-ct.yaml
admin_user_name: briank

ansible_host: 172.17.2.2
ansible_python_interpreter: /usr/bin/python3
ansible_ssh_user: briank
host_key_checking: false

pyh_hostname: pi-02-ct
pyh_ipv4_ethernet_addr: 172.17.2.2
pyh_ipv4_wifi_addr: 172.17.3.2
pyh_ipv6_ethernet_addr: ':2:2'
pyh_ipv6_wifi_addr: ':3:2'

host_roles:
  - basic_system
  - homeautomation
  - vnc
  - vpn


pyh_extra_apt_packages:
    - sqlite3

### END DBK
