country=US
ctrl_interface=DIR=/var/run/wpa_supplicant GROUP=netdev
update_config=1

{% for key, value in access_points.iteritems() %}
network={
        ssid="{{ key }}"
        psk="{{ value  }}"
        key_mgmt=WPA-PSK
}
{% endfor %}

### END DBK
