# Name:    PyHouse-ansible/roles/add-user/templates/sudoers.j2
# Author:  D. Brian Kimmel
# Created: 2017-10-14
# Updated: 2017-11-14
# Template for sudoers.d entry
#
{{ pyh_admin_user }} ALL=(ALL) NOPASSWD: ALL
#
### END DBK
