# Name:    PyHouse-ansible/roles/add-user/tasks/main.yaml
# Author:  D. Brian Kimmel
# Created: 2017-10-15
# Updated: 2017-10-20
#

---

- name: task-dd - Info
  debug:
    msg: " Family:{{ pyh_family }}; User:{{ pyh_admin_user }}; Pass:{{ vault_pyh_admin_password }} "


# --- "pi" user
# Change the pi user's password
- name: task-01 - Change "pi" password
  user:
    name:       pi
    password:   "{{ pyh_pi_password }}"
    comment:    "Default User"


# --- "Admin" user
# Create the admin user
- name: task-02 - Add Admin User
  user:
    name:       "{{ pyh_admin_user }}"
    password:   "{{ pyh_admin_password }}"
    comment:    "{{ vault_pyh_long_admin_name }}"
    shell:      /bin/bash
    groups:     adm,dialout,sudo,audio,video,plugdev,input,netdev,spi,i2c,gpio

- name: task-03 - Create the sudoers.d file for admin user
  template:
    src:    ./sudoers.j2
    dest:   "/etc/sudoers.d/{{ pyh_admin_user }}"
    owner:  root
    group:  root
    mode:   0600

- name: task-04 - Create admin user bin dir
  file:
    name:       "/home/{{ pyh_admin_user }}/bin"
    state:      directory
    owner:      "{{ pyh_admin_user }}"
    group:      "{{ pyh_admin_user }}"
    mode:       0755

- name: task-05 - Copy admin files to ~/bin
  copy:
    src:        "./ModelDiscovery.sh"
    dest:       "/home/{{ pyh_admin_user }}/bin"
    owner:      "{{ pyh_admin_user }}"
    group:      "{{ pyh_admin_user }}"
    mode:       0755

- name: task-06 - Create admin user .ssh dir
  file:
    name:       "/home/{{ pyh_admin_user }}/.ssh"
    state:      directory
    owner:      "{{ pyh_admin_user }}"
    group:      "{{ pyh_admin_user }}"
    mode:       0755

- name: task-07 - Copy auth file to ~/.ssh
  copy:
    src:        "~/.ssh/authorized_keys"
    dest:       "/home/{{ pyh_admin_user }}/.ssh"
    owner:      "{{ pyh_admin_user }}"
    group:      "{{ pyh_admin_user }}"
    mode:       0600

- name: task-08 - Copy id_rsa file to ~/.ssh
  copy:
    src:        "~/.ssh/id_rsa"
    dest:       "/home/{{ pyh_admin_user }}/.ssh"
    owner:      "{{ pyh_admin_user }}"
    group:      "{{ pyh_admin_user }}"
    mode:       0600

### END DBK
