<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Cannon Trail Proxy</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="container">
        <header>
            <h1>Cannon Trail</h1>
        </header>
        <div class="wrapper clearfix">
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
            <section>
                <h2>Welcome to our site</h2>
                <p>Here you will learn how to create websites...</p>
            </section>
        </div>
        <footer>
            <p>copyright &copy; tutorialrepublic.com</p>
        </footer>
    </div>





<div id="page">

  <div id="header">
    <h1> Cannon Trail </h1>
      Reverse proxy server
  </div>

  <div id="body">
    <ul>
      <li>Node red</li>
        <a href="/nodered/">Irrigation/Pond</a> (pi-04-ct)
      <li>Pi-Hole</li>
      <li>Home Assistant</li>
        <a href="/homeassistant">Home Assistant</a> (pi-03-ct)
      <li>Mopidy</li>
        <a href="/mopidy">Mopidy Music player</a> (pi-06-ct)
      <li>Octoprint</li>
        <a href="/octoprint/"> Octoprint </a> (pi-08-ct)
      <li>Cameras</li>
      <li>Sonoff</li>
        <a href="/sonoff/1/"> Garage Workbench</a> (sonoff-01-ct)
        <br>
        <a href="/sonoff/2/"> Brian's Couch Light</a> (sonoff-02-ct)
    </ul>
  </div>
</div>
<!-- end -->

</body>
</html>
