# Name: proxy-node-red
# Updated: 2020-11-14
#
# This is the proxy server for nodered (irrigation)

server {
	listen		80;

	location /nodered/ {
		proxy_pass				http://172.16.2.4:1880;
		proxy_set_header		Host $host;
		proxy_set_header		X-Real-IP $remote_addr;
		proxy_set_header		X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header		X-Forwarded-Proto $scheme;

		#proxy_cache_use_stale	error timeout invalid_header updating
		#						http_500 http_502 http_503 http_504;
	}
}

### END DBK
