# Name: proxy-node-red
# Updated: 2020-11-14
#
# This is the proxy server for nodered (irrigation)

server {

	location /nodered/ {
		proxy_pass				http://172.16.2.4:1880;
		proxy_http_version		1.1;
		proxy_set_header		Host				$host;
		proxy_set_header		X-Real-IP			$remote_addr;
		proxy_set_header		X-Forwarded-For		$proxy_add_x_forwarded_for;
		proxy_set_header		X-Forwarded-Proto	$scheme;
	}
}

### END DBK
