# Name:   inventories/group_vars/pis.yaml
#
# These vars oare for raspberry pi computers running the raspbian (now raspberry OS) system.
# Changed: 2020-10-04
#
---

# adm: Group adm is used for system monitoring tasks. Members of this group can read many log files in /var/log, and can use xconsole. Historically, /var/log was /usr/adm (and later /var/adm), thus the name of the group.
# systemd-journal: Since Debian 8 (Jessie), members of this group can use the command journalctl and read log files of systemd (in /var/log/journal).
# plugdev: Allows members to mount (only with the options nodev and nosuid, for security reasons) and umount removable devices through pmount.
# netdev: Members of this group can manage network interfaces through the network manager and wicd.
# audio: This group can be used locally to give a set of users access to an audio device (the soundcard or a microphone).
# video: This group can be used locally to give a set of users access to a video device (like the framebuffer, the videocard or a webcam).
# sudo: Members of this group can execute any command with sudo or pkexec. (See the default configuration in /etc/sudoers)
# tty: TTY devices are owned by this group. This is used by write and wall to enable them to write to other people's TTYs, but it is not intended to be used directly.
# staff: Allows users to add local modifications to the system (/usr/local) without needing root privileges (note that executables in /usr/local/bin are in the PATH variable of any user, and they may "override" the executables in /bin and /usr/bin with the same name). Compare with group "adm", which is more related to monitoring/security.
# dialout: Full and direct access to serial ports. Members of this group can reconfigure the modem, dial anywhere, etc.
# users: While Debian systems use the private user group system by default (each user has their own group), some prefer to use a more traditional group system, in which each user is a member of this group.
# wheel: This group can be created to alter the functionality of the module pam_wheel in /etc/pam.d/su to restrict the execution of su. If this group does not exists only members of root (usually root itself) are affected. By default this group does not exist and all the configurations with pam_wheel are commented in /etc/pam.d/su. See the page about the wheel_pam module for more information.

admin_user_groups: adm,dialout,sudo,audio,video,plugdev,netdev

### END DBK