# Name:     PyHouse-ansible/roles/function-mqtt/files/mosquitto.service
# Author: 	D Brian Kimmel
# Created:	2017-12-26
# Updated:  2017-12-26
#

[Unit]
Description=MQTT v3.1 message broker
After=network.target
Requires=network.target

[Service]
Type=simple
ExecStart=/usr/sbin/mosquitto -c /etc/mosquitto/mosquitto.conf
Restart=always

[Install]
WantedBy=multi-user.target

### END DBK
