# Name:    PyHouse-ansible/playbooks/roles-dispatch.yaml
# Author:  D. Brian Kimmel
# Created: 2018-07-08
# Updated: 2020-10-07

# This playbook will first install the basic system that goes on every computer.
# Then it will add the pyh_roles to specialize that computer.
#
# Select a host from individual or one of the groups (pis, cannontrail, pinkpoppy)
#
---

- name: Play-01 - All-Pis - Starting
  hosts: pi-02-ct
  remote_user: root
  become: true

  tasks:
  - name:  All-Pis-PreTask-01 - Starting, Display some vars...
    debug:
      msg:
        - "-----"
        - "log_track:{{ log_track }}"
        - "     User: {{ admin_user_name }}"
  #      - "     Dist: {{ ansible_os_family }}"
  #          - "     Host: {{ pyh_hostname }}"
  #          - "     Role: {{ pyh_roles }}"
  #      tags:
  #        - always
  #
  roles:
    - install_basic_system

### END DBK
