# Name:    playbooks/all-pis.yaml
# Updated: 2020-10-29

# This playbook will first install the basic system that goes on every computer.
# Then it will add the pyh_roles to specialize that computer.
#
# Select a host from individual or one of the groups (pis, cannontrail, pinkpoppy)
#
---

- name: Play-01 - All-Pis - Starting play;;;
  # hosts: pi-05-pp
  hosts: pinkpoppy
  remote_user: root
  become: true

  roles:
    - a_begin
    #- dispatch_function_install
    - finalize

#- name: Play-02 - Another play if we need it.
#  hosts: pi-03-ct

### END DBK
