# Name:    PyHouse-ansible/roles/install-pyhouse/tasks/autostart.yaml
# Author:  D. Brian Kimmel
# Created: 2017-10-31
# Updated: 2017-11-18

# Several things are required to autostart pyhouse:
#   the pyhouse user must be autologged in (on /dev/tty1)
#   .bashrc must run ~/bin/start_pyhouse when autologged in on dev/tty1.

---

- name: AutoStart-01 - Autologin as pyhouse user
  lineinfile:
    path:               '/etc/systemd/system/autologin@.service'
    regexp:             'ExecStart=-/sbin/agetty --autologin '
    line:               'ExecStart=-/sbin/agetty --autologin {{ pyh_pyhouse_user }} --noclear %I $TERM'

- name: AutoStart-02 - append to .bashrc
  blockinfile:
    path: /home/pyhouse/.bashrc
    block: |
      ### AutoLogin PyHouse ###
      #
      # Start pyhouse if we autologin this user
      #
      if [ $(tty) == /dev/tty1 ]; then
          bin/start_pyhouse
      fi
      ### END DBK

### END DBK
