# Name:    PyHouse-ansible/roles/install-pyhouse/tasks/install-extra-packages.yaml
# Author:  D. Brian Kimmel
# Created: 2017-10-31
# Updated: 2017-10-31
#
# The extra node  names are stored in "pyh_extra_apt_packages" in each host_vars file that installs node-red.
#
---

- name: ExtraPackages-01 - fetch the pyhouse group vars
  include_vars:     pyhouse.yaml

- name: ExtraPackages-02 - install extra apt packages used by pyhouse.
  ignore_errors:        yes
  apt:
    name:               "{{ item }}"
    state:              latest
  with_items:           "{{ pyh_extra_apt_packages }}"

- name: ExtraPackages-03 - install extra pip packages used by pyhouse.
  ignore_errors:        yes
  pip:
    name:               "{{ item }}"
    executable:         pip3
    state:              latest
  with_items:           "{{ pyh_extra_pip_packages }}"

### END DBK
