# Name:    PyHouse-ansible/roles/install-pyhouse/tasks/main.yaml
# Author:  D. Brian Kimmel
# Created: 2017-09-18
# Updated: 2017-11-30
#
# This only runs when a particular host has a pyh_role that includes pyhouse.
# It runs each segment in turn.

---

- name: Task-01 - Set up the proper OS distribution
  include_tasks:    "setup-{{ansible_os_family}}.yaml"

- name: Task-02 - Install extra apt packages for pyhouse prerequsite
  import_tasks:    install-extra-packages.yaml

- name: Task-03 - Install PyHouse
  import_tasks:    install-pyhouse.yaml

- name: Task-10 - Setup auto run on reboot
  include_tasks:    autostart.yaml

- name: Task-11 - Save the config files we have
  include_tasks:    backup-config.yaml
  tags:             fetch-files

### END DBK
