# Name:    PyHouse-ansible/roles/wifi/tasks/main.yml
# Author:  D. Brian Kimmel
# Created: 2017-09-18
# Updated: 2017-10-14
#
# Set up the computer for WiFi operations
#
---

- name: task-01 - Create the wpa_supplicant file
  #include_vars: group_vars/pinkpoppy
  include_vars: group_vars/cannontrail.yaml

- name: task-02 - delete any new file created
  file:
    name:   /etc/wpa_supplicant/wpa_supplicant.conf-new
    state:  absent

- name: task-02 - Install the wpa_supplicant file
  template:
    src:    ./wifi.j2
    dest:   /etc/wpa_supplicant/wpa_supplicant.conf
    owner:  root
    group:  root
    mode:   0600

#- name: Task-01-Pi - Install the wifi.j2 file into /etc/wpa_supplicant/wpa_supplicant.conf
  ignore_errors:    yes
  template:
    src:            ./wifi.j2
    dest:           /etc/wpa_supplicant/wpa_supplicant.conf
    owner:          root
    group:          root
    mode:           0600
#  notify:
#    restart 
  when:
    - ansible_lsb.id == 'Raspbian'
    - pyh_ipv4_wifi_addr != 'no'

## END DBK
