# Name:    roles/install-node-red/tasks/backup-configuration.yaml
# Author:  D. Brian Kimmel
# Created: 2018-03-21
# Updated: 2019-08-07
#
---

- name: Backup Configuration - Msg
  debug:
    msg:
      - "BackingUp Node-Red Configuration"
      - "Admin User: {{pyh_admin_user}}"
      - "NodeRed User: {{pyh_nodered_user}}"
  tags: always

#
# For now, we have to name each file as wildcards are not yet supported.
#
- name: BackupFlows-01-A - Pull back the flows for backup / archive
  ignore_errors: true
  fetch:
    src: "/home/{{ pyh_nodered_user }}/.node-red/settings.js"
    dest: '{{ pyh_backup_dir }}'
    fail_on_missing: false

- name: BackupFlows-01-B - Pull back the flows for backup / archive
  ignore_errors: true
  fetch:
    src: "/home/{{ pyh_nodered_user }}/.node-red/localSettings.js"
    dest: '{{ pyh_backup_dir }}'
    fail_on_missing: false

# - name: BackupFlows-03 - Check flow into a git repository.

### END DBK
