# Name:    roles/install-node-red/tasks/install-configuration.yaml
# Author:  D. Brian Kimmel
# Created: 2018-03-21
# Updated: 2019-08-07
#
---

- name: install-configuration-01 - Msg
  debug:
    msg:
      - "Installing Node-Red Configuration files"
      - "Admin User: {{pyh_admin_user}}"
      - "NodeRed User: {{pyh_nodered_user}}"
  tags: always

- name: install-configuration-02 - Edit settings.js
  copy:
    src: "../files/settings.js"
    dest: "/home/{{ pyh_nodered_user }}/.node-red/"
    owner: "{{ pyh_nodered_user }}"
    group: "{{ pyh_nodered_user }}"
    mode: 0755
  tags: always

- name: install-configuration-03 - Copy localSettings.js
  ignore_errors: true
  become_user: root
  become: true
  template:
    # in /roles/install-node-red/templates/
    src: "../templates/localSettings.j2"
    dest: "/home/{{ pyh_nodered_user }}/.node-red/"
  tags: always

### END DBK
