# Name:    PyHouse-ansible/roles/install-node-red/tasks/install-extra-nodes.yaml
# Author:  D. Brian Kimmel
# Created: 2017-10-29
# Updated: 2017-12-12
#
# This will install extra nodes used by node red.
#
# The extra node  names are stored in "pyh_extra_nodes" in each host_vars file that installs node-red.
#
---

- name: ExtraNodes-01 Add extra npm nodes
  become:           yes
  become_user:      "{{ pyh_nodered_user }}"
  become_method:    sudo
  ignore_errors:    yes
  npm:
    name:           "{{ item }}"
    path:           "/home/{{pyh_nodered_user}}/.node-red/"
    state:          latest
  with_items:   "{{pyh_extra_nodered_nodes}}"

### END DBK
