# Name:    PyHouse-ansible/roles/install-node-red/tasks/install-nodered.yaml
# Author:  D. Brian Kimmel
# Created: 2017-10-29
# Updated: 2017-12-08
#
# Install the base node red on the target.

---

- name: InstallNodeRed- Msg
  debug:
    msg:
      - "Installing Node-Red."
      - "Admin User: {{pyh_admin_user}}"
      - "NodeRed User: {{pyh_nodered_user}}"
  tags: always

- name: InstallNodeRed-01 - Npm install "node-red"
  become: true
  become_user: root
  # become_user: "{{pyh_nodered_user}}"
  become_method: sudo
  ignore_errors: true
  npm:
    name: node-red
    path: "/home/{{pyh_nodered_user}}/.node-red/"
    global: true
    state: latest

- name: InstallNodeRed-02 - Change ownership
  file:
    path: "/home/{{pyh_nodered_user}}"
    state: directory
    owner: "{{pyh_nodered_user}}"
    group: "{{pyh_nodered_user}}"
    recurse: true

### END DBK
