# Name:    PyHouse-ansible/roles/install-node-red/tasks/main.yaml - the master playbook
# Author:  D. Brian Kimmel
# Created: 2017-10-11
# Updated: 2017-11-18
#
# Lite versions of the os do not install node-red.
# The install scripts and apt both sorta do the wrong versions so do it all manually here.

# Node red needs to start automatically every time the computer starts.
---

# Setup the OS distribution on which we will be installing.
- name: Task-01 - Set up the proper OS distribution.
  include_tasks:    "setup-{{ansible_os_family}}.yaml"

# Create the Node Red user
- name: Task-02 - Add/Create the node red user.
  import_tasks:     add-user.yaml

# Install extra things we need before installing node-red.
# Somtimes extra libraries are needed so we can compile and install the various extra nodes.
- name: Task-03 - Install extra apt packages for node red
  import_tasks:     install-extra-packages.yaml

# Now we can install nodejs upon which node red relies.
- name: Task-04 - Install Node.js (correct version)
  import_tasks:     install-nodejs.yaml

# Finally we can install node-red.
- name: Task-05 - Install Node-Red (correct version)
  import_tasks:     install-nodered.yaml

# Depending on the flows for this machine, we may need extra node-red nodes.
- name: Task-06 - Install extra node red nodes
  import_tasks:     install-extra-nodes.yaml

# Node red needs to run whenever we start up this computer - make it so.
- name: Task-07 - Setup auto run on reboot
  include_tasks:    install-systemd.yaml

# As a precaution, we will copy all the flows back to the ansible host for safekeeping.
- name: Task-08 - Save the flows we have
  include_tasks:    backup-flows.yaml
  tags:             fetch-files

### END DBK
