# Name:    PyHouse-ansible/roles/install-node-red/tasks/setup-Debian.yaml
# Author:  D. Brian Kimmel
# Created: 2017-10-28
# Updated: 2017-11-18
#
# The Pis and Nucs are both Debian

---

- name: SetupDebian-01 - Ensure apt-transport-https is installed.
  apt:
    name:           apt-transport-https
    state:          present

- name: SetupDebian-02 - Add Nodesource apt key.
  apt_key:
    url:            https://keyserver.ubuntu.com/pks/lookup?op=get&fingerprint=on&search=0x1655A0AB68576280
    id:             "68576280"
    state:          present

# These are all compiled for ARMv7 and will not work on old versions of the raspberry pi!
- name: SetupDebian-03 - Add NodeSource repositories for Node.js.
  apt_repository:
    repo:           "{{ item }}"
    state:          present
  with_items:
    - "deb https://deb.nodesource.com/node_{{ nodejs_version }} {{ ansible_distribution_release }} main"
    - "deb-src https://deb.nodesource.com/node_{{ nodejs_version }} {{ ansible_distribution_release }} main"
  register:         node_repo

- name: SetupDebian-04 - Update apt cache if repo was added.
  apt:
    update_cache:   yes
  when:             node_repo.changed

- name: SetupDebian-05 - Ensure Node.js and npm are installed.
  apt: 
    name:           "nodejs={{ nodejs_version|regex_replace('x', '') }}*"
    state:          present

# Different Distributions within Debian have different user groups
- name: SetupDebian-06 - Set up default
  set_fact:
      pyh_nodered_user_groups: "dialout"
      cacheable:      yes

- name: SetupDebian-06-Pi - Set up groups for the NodeRed user
  set_fact:
    pyh_nodered_user_groups: "adm,dialout,sudo,audio,video,plugdev,input,netdev,spi,i2c,gpio"
    cacheable:      yes
  when:             ansible_lsb.id == "Raspbian"

- name: SetupDebian-06-Nuc - Set up groups for the NodeRed user
  set_fact:
    pyh_nodered_user_groups: "dialout,sudo,audio,video,plugdev,input,netdev"
    cacheable:      yes
  when:             ansible_lsb.id == "Ubuntu"


### END DBK
