# Name:     PyHouse-ansible/roles/raspi-config/tasks/main.yaml
# Author:  D. Brian Kimmel
# Created: 2017-10-12
# Updated: 2017-10-12
#
# Add admin user.
# Setup connectivity (wifi, ethernet, Fixed IP addresses

---

-
#^ the dash above will start the role

  name: task-01 is this a raspbery pi?

  name: task-02 - expand partition 3 (root) to full sd card
  parted:
    device:     mmcblk0
    number:     2
    part_end:   100%

### END DBK
