# Name:    roles/add_admin_user/templates/sudoers.j2
# Author:  D. Brian Kimmel
# Created: 2017-10-14
# Updated: 2020-09-29
# Template for sudoers.d entry
#
{{ admin_user_name }} ALL=(ALL) NOPASSWD: ALL
#
### END DBK
