# Name:    PyHouse-ansible/roles/setup=raspi
/tasks/add-users.yaml
# Author:  D. Brian Kimmel
# Created: 2017-10-12
# Updated: 2017-10-12

---
# Create the admin user

- name: Add_user-task-01 - Add Admin User
  user:
    name:    "{{ uUserName }}"
    comment: "{{ uComment }}"
    groups:  adm,dialout,sudo,audio,video,plugdev,input,netdev
# pi only groups spi, i2c, gpio


### END DBK
