# Name:    PyHouse-ansible/playbooks/development-pis.yaml
# Author:  D. Brian Kimmel
# Created: 2017-11-20
# Updated: 2018-07-25




---

- name:                 Development-Pis.yaml
  hosts:                all
  strategy:             linear
  become:               yes
  become_method:        sudo
  gather_facts:         yes


  roles:

    - role: roles/timezone
      when: set_timezone|default(True)
      tags:
        - timezone

    - role: roles/motd
      when: install_motd|default(True)
      tags:
        - motd


  ### END DBK
