# Name:    PyHouse-ansible/playbooks/development-pis.yaml
# Author:  D. Brian Kimmel
# Created: 2017-11-20
# Updated: 2018-04-17

---

- name: Development-Pis - Perform config for development machine - test it out.
  hosts:                all
  strategy:             linear
  become:               yes
  become_method:        sudo
#  gather_facts:         no

  pre_tasks:

    - name: Development-Pis-01- Include vars from local-configure.yaml if found
      include_vars: "{{ item }}"
      with_first_found:
       - '../defaults/local-configure.yaml'
       - ../defaults/null.yaml
      tags:
        - always


# ========================================================================
# ==== pyh_roles dispatch

#   ansible
#   control
#   install-mqtt
#   install-pandora
#   install-pyhouse
#   install-node-red
#   networking
#   octoprint
#   package-management
#   postgresql
#   relay

  roles:

    - role: roles/networking
      tags:
        - always

#    - role: roles/package-management
#      tags:
#        - always

    - role: roles/install-mqtt
      when: pyh_roles.find("mqtt") != -1
      tags:
        - always

    - role: roles/install-pyhouse
      when: pyh_roles.find("pyhouse") != -1
      tags:
        - always

    - role: roles/install-pandora
      when: pyh_roles.find("pandora") != -1
      tags:
        - always

    - role: roles/install-node-red
      when: pyh_roles.find("node-red") != -1
      tags:
        - always


### END DBK
