# Name:    PyHouse-ansible/playbooks/gather-info.yaml
# Author:  D. Brian Kimmel
# Created: 2017-11-20
# Updated: 2017-11-25

---

- name: Play Gather-Info - Get facts from all the PIs
  hosts:            pis
  ignore_errors:    yes
  become:           yes
  become_method:    sudo
  gather_facts:     no
  
- name: Play Gather-Info - Gather Info - Nucs
  hosts:            nucs
  ignore_errors:    yes
  become:           yes
  become_method:    sudo
  gather_facts:     yes

- name: Play Gather-Info - Gather Info - Others
  hosts:            others
  ignore_errors:    yes
  become:           yes
  become_method:    sudo
  gather_facts:     yes

### END DBK
