# Name:    PyHouse-ansible/playbooks/localhost-setup.yaml
# Author:  D. Brian Kimmel
# Created: 2017-11-19
# Updated: 2017-11-19

---

# The first play is to install to the localhost
- name: Play-01 - Local host install commands we are using
  hosts:            localhost
  connection:       local
  gather_facts:     no

  pre_tasks:

    - name: LocalPreTask-01 - Message
      debug:
        msg:        "Play is on the local ansible machine."

    - name: LocalPreTask-02 - Copy some files
      copy:
        src:        "{{ item.src }}"
        dest:       "{{ item.dest }}"
      with_items:
        - { src: '../bin/ansible-production', dest: '~/bin/' }
        - { src: '../bin/ansible-setup-pi', dest: '~/bin/' }
        - { src: '../bin/ansible-testing', dest: '~/bin/' }
        - { src: '../bin/vault-hook', dest: '~/workspace/PyHouse-ansible/.git/hooks/pre-commit' }

    - name: LocalPreTask-02 - Install local tasks
      copy:
        src:        ../ssh.cfg
        dest:       ~/.ssh/config

    - name: Fetch-01 - Create the backup directory
      file:
      path:           "{{ pyh_backup_dir }}"
      state:          directory


### END DBK
