# Name:    PyHouse-ansible/playbooks/new-pi.yaml
# Author:  D. Brian Kimmel
# Created: 2017-11-17
# Updated: 2018-06-26

# This playbook is used to set up one raspberry pi computer
#
# It goes from installing a fresh version of the particular OS to being a basically functioning unit/
#
# It works for:
#   Raspbian - Stretch Lite
#
---

- name: Play-01 - New-Pi - Set up a fresh Pi 
  hosts:            raspberrypi
  become:           yes
 
  pre_tasks:
    - name: New-Pi-pre-task-01 - Working on raspi
      debug:
        msg: "Host:{{ pyh_hostname }}; WiFi:{{ pyh_ipv4_wifi_addr }}; Ethernet:{{ pyh_ipv4_ethernet_addr }}; Access:{{ ansible_host }}"
      tags:
        - always


# ========================================================================

  roles:
    - role: ../roles/add-admin-user
      tags:
        - setup-pi
        - always

    - role: ../roles/networking
#      when: install_networking|default(True)
      tags: 
#        - setup-network
#        - setup-pi
        - always

    - role: ../roles/hostname
      tags:
        - always

    - role: roles/package-management
      tags:
        - always

### END DBK
