# Name:    PyHouse-ansible/playbooks/production-pis.yaml
# Author:  D. Brian Kimmel
# Created: 2017-10-12
# Updated: 2018-06-26
#
# This is the main production playbook.

# Tags:
#   motd                    - Change motd to ansible configged
#   setup-network           -
#   setup-pi                - Initial setup of new image SDcard Pi
#   fetch-files             - Pull back selected config files







---

- name: Play - Production-Pis - Install
  hosts:            pis
  strategy:         linear
  become:           yes
  become_method:    sudo
  gather_facts:     yes


  pre_tasks:

    - name: ProductionPis-PreTask-00 - Starting, Display some vars...
      debug:
        msg:
          - "User: {{pyh_admin_user}}"
          - "Dist: {{ansible_os_family}}"
          - "Host: {{pyh_hostname}}"
          - "Role: {{pyh_roles}}"
      tags:
        - always

    - name: ProductionPis-PreTask-01 - Fail if Ansible is ancient
      fail:
        msg:        "We need Ansible >= 2.4. Please update your installed ansible"
      when:         ansible_version.major < 2 or ( ansible_version.major >= 2 and ansible_version.minor < 4 )
      tags:
        - always

    # Dynamic include
    - name: ProductionPis-PreTask-02 - Dynamic Include vars from local-configure.yaml if found
      include_vars: "{{ item }}"
      with_first_found:
        - files:
            - "local-configure.yaml"
            - "null.yaml"
          paths:
            - "../defaults/"
      tags:
        - always


# ========================================================================
# ==== pyh_roles dispatch

#  ansible
#  control
#  install-mqtt
#  install-pandora
#  install-pyhouse
#  install-node-red
#  octoprint
#  package-management
#  postgresql
#  relay

  roles:

    - role: roles/package-management
      tags:
        - always

    - role: roles/networking
      when: install_networking|default(True)
      tags: 
        - always

    - role: roles/hostname
      tags:
        - always

    - role: roles/add-admin-user
      tags:
        - always

    - role: roles/timezone
      when: set_timezone|default(True)
      tags:
        - timezone

    - role: roles/motd
      when: install_motd|default(True)
      tags:
        - motd



    - role: roles/install-basic-system
      tags: always

    - role: roles/install-mqtt
      when: pyh_roles.find("mqtt") != -1
      tags: always

    - role: roles/install-octoprint
      when: pyh_roles.find("octoprint") != -1
      tags: always

    - role: roles/install-pyhouse
      when: pyh_roles.find("pyhouse") != -1
      tags: always

    - role: roles/install-pandora
      when: pyh_roles.find("pandora") != -1
      tags: always

    - role: roles/install-node-red
      when: pyh_roles.find("node-red") != -1
      tags: always

### END DBK
