# Name:    PyHouse-ansible/playbooks/roles-dispatch.yaml
# Author:  D. Brian Kimmel
# Created: 2018-07-08
# Updated: 2018-07-25

# This will first install the basic system that goes on every computer.
# Then it will add the pyh_roles to specialize that computer.

---

- name: PLAY - roles-dispatch.yaml - First.
  hosts:            pis
  strategy:         linear
  become:           yes
  become_method:    sudo
  gather_facts:     yes

  roles:

    - role: ../roles/install-basic-system
      tags: always

    - role: ../roles/install-mqtt
      when: pyh_roles.find("mqtt") != -1
      tags: always

    - role: ../roles/install-octoprint
      when: pyh_roles.find("octoprint") != -1
      tags: always

    - role: ../roles/install-pyhouse
      when: pyh_roles.find("pyhouse") != -1
      tags: always

    - role: ../roles/install-pandora
      when: pyh_roles.find("pandora") != -1
      tags: always

    - role: ../roles/install-node-red
      when: pyh_roles.find("node-red") != -1
      tags: always

    - role: ../roles/install-ansible
      when: pyh_roles.find("ansible") != -1
      tags: always

### END DBK
