# Name: tightvnc.service.j2
# Updated: 2020-11-26
#

[Unit] 
Description=TightVNC remote desktop server 
After=sshd.service 

[Service] 
ExecStart=/usr/bin/tightvncserver :1 
User={{ admin_user_name }}
Type=forking 

[Install] 
WantedBy=multi-user.target 

### END DBK
