# Name:    PyHouse-ansible/roles/install_basic_system/tasks/main.yaml
# Author:  D. Brian Kimmel
# Created: 2018-06-27
# Updated: 2021-05-23
---

- name: Task-01 - Fail if Ansible is ancient
  fail:
    msg: "We need Ansible >= 2.9. Please update your installed ansible"
  when: ansible_version.major < 2 or ( ansible_version.major >= 2 and ansible_version.minor < 9 )
  tags:
    - always

- name: Task-02 - main info for debugging the role.
  debug:
    msg: |
      "Lsb: {{ ansible_lsb | default('test_default_token') }}"
      "User: {{ admin_user_name | default('test_default_token') }}"
      "Dist: {{ ansible_os_family | default('test_default_token') }}"
      "Host: {{ hostname_hostname | default('test_default_token') }}"
      "Role: {{ pyh_roles | default('test_default_token') }}"
      "Gateway: {{ gateway_router | default('test_default_totken') }}"
      "Host Role: {{ host_roles | default('test_default_totken') }}"

- name: Task-03 - setup Host
  include_tasks: setup_hostname.yaml

- name: Task-04 - Update and upgrade apt packages
  apt:
    upgrade: 'True'
    update_cache: 'True'

## sudo apt install python-pip python-dev python-setuptools python-virtualenv git libyaml-dev build-essential
- name: Task-05 - Install needed packages.
  package:
     name: "{{ basic_apt_package_list }}"
     state: present

- name: Task-06 - Set up autoreboot.
  include_tasks: auto-reboot.yaml

- name: Task-07 - Set up avahi.
  include_tasks: setup-avahi.yaml

- name: Task-08 - Set up time/timezone.
  include_tasks: setup-time.yaml

- name: Task-09 - Set up the weekly os software update
  include_tasks: update-os.yaml

#- name: Task-10 - Set up Backup with rpi-clone
#  include_tasks: backup_system.yaml

#- name: Task-11 - Setup basic firewall
#  include_role:
#    name: setup_firewall

### END DBK
