# Name: roles/function_octopeint/tasks/setup_octo_user.yml
# Updated: 2020-12-04

---

- name: Task-01(User) - Add User "octo"
  include_tasks:            ../../roles/common/tasks/add_user.yaml
  vars:
          p_user:           "{{ octoprint_user_name }}"
          p_comment:        "{{ octoprint_user_comment }}"
          p_groups:         "{{ octoprint_user_groups }}"

- name: Task-02(User) - Create OctoPrint dir
  ignore_errors:        yes
  file:
    name:               "{{ octoprint_path }}"
    state:              directory
    owner:              "{{ octoprint_user_name }}"
    group:              "{{ octoprint_user_name }}"
    mode:               0755

- name: Task-03*User) - Create Directory  ~/bin
  ignore_errors:        yes
  file:
    name:               "/home/{{ octoprint_user_name }}/bin"
    state:              directory
    owner:              '{{ octoprint_user_name }}'
    group:              '{{ octoprint_user_name }}'
    mode:               0755

- name: Task-04 - Copy files to ~/bin
  copy:
    src:                "./bin/"
    dest:               "/home/{{ octoprint_user_name }}/bin"
    owner:              '{{ octoprint_user_name }}'
    group:              '{{ octoprint_user_name }}'
    mode:               0755


### END DBK
