# Name: roles/function_octopeint/tasks/setup_virtualenv.yml
# Updated: 2021-01-03

# Based on:  https://github.com/cchurch/ansible-role-virtualenv
---

- name: Task-01(VirtualEnv) - determine current user.
  command: whoami
  register: _virtualenv_whoami_result
  changed_when: false
  check_mode: false

- name: Task-02(VirtualEnv) - determine current user vs. actual user.
  set_fact:
    _virtualenv_current_user: "{{ ansible_user | default(ansible_ssh_user, true) | default(ansible_user_id, true) | default(lookup('env', 'USER')) }}"
    _virtualenv_actual_user: "{{ _virtualenv_whoami_result.stdout }}"

- name: Task-03(VirtualEnv) - initialize default role variables.
  set_fact:
    _virtualenv_path: "{{ octoprint_venv_path | mandatory }}"
    _virtualenv_user: "{{ virtualenv_user | default(_virtualenv_current_user, true) }}"
    _virtualenv_becoming: "{{ (_virtualenv_actual_user != _virtualenv_current_user or _virtualenv_actual_user == 'root') | bool }}"

- name: Task-04(VirtualEnv) - Show what we just did.
  debug:
    msg:
      - "Install Octoprint virtual environment"
      - "        Path: {{ octoprint_venv_path }} = {{ _virtualenv_path }}"
      - "Current User: {{ _virtualenv_current_user }}"
      - " Actual User: {{ _virtualenv_actual_user }}"
      - "    Becoming: {{ _virtualenv_becoming }} - {{ virtualenv_user }}"
      - " InitialInstall: {{ octoprint_initial_install }}"

- name: Task-06(VirtualEnv) - install global python packages with easy_install.
  easy_install:
    executable: "{{ virtualenv_easy_install_executable | default(omit) }}"
    name: "{{ item.name | default(item, true) }}"
    state: "{{ item.state | default('present', true) }}"
  with_items: "{{ virtualenv_easy_install_packages }}"
  when: _virtualenv_becoming

- name: Task-07(VirtualEnv) - install global python packages with pip.
  pip:
    executable: "{{ virtualenv_pip_executable | default(omit) }}"
    name: "{{ item.name | default(item, true) }}"
    version: "{{ item.version | default(omit, true) }}"
    state: "{{ item.state | default('present', true) }}"
  with_items: "{{ virtualenv_global_packages }}"
  when: _virtualenv_becoming

- name: Task-08(VirtualEnv) - Run update tasks.
  include_tasks: setup_2A_update.yaml
  when: _virtualenv_user != _virtualenv_actual_user

  ### END DBK